<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .fa-facebook {
            color: #3b5998; /* Color oficial de Facebook */
        }
    </style>
</head>
<body>
    <!-- Navbar -->
    <div class="container-fluid page-styling site-header-before">
        <div class="row">
            <div class="col-lg-4">
                <ul class="links_list links_list-align-left align-center-desktop topbar-social">
                    <li>
                        <p class="links_list-value">
                            <a href="http://facebook.com" target="_blank" rel="nofollow">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-8">
                <ul class="links_list links_list-align-right align-center-desktop topbar-contacts">
                    <li>
                        <p class="links_list-label">Dirección</p>
                        <p class="links_list-value">
                            <a href="http://maps.google.com" target="_blank" rel="nofollow">Acuapa Tlanchinol Hgo</a>
                        </p>
                    </li>
                    <li>
                        <p class="links_list-label">Contacto</p>
                        <p class="links_list-value">
                            <a href="mailto:support@email.com">fredy797picis@gmail.com</a>
                        </p>
                    </li>
                    <li>
                        <p class="links_list-label">Teléfono</p>
                        <p class="links_list-value">
                            <a href="tel:7713647945">(771)-364-7945</a>
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
